.lib-font-face(
    @family-name: @font-family-gfs-didot,
    @font-path: '@{baseDir}/fonts/GFSDidot-Regular',
    @font-weight: normal,
    @font-style: normal,
    @font-display: swap
);
.lib-font-face(
    @family-name: @font-family-gfs-didot_italic,
    @font-path: '@{baseDir}/fonts/DidotLTStd-Italic',
    @font-weight: normal,
    @font-style: italic,
    @font-display: swap
);
.lib-font-face(
    @family-name: @font-family-gill-sans-light,
    @font-path: '@{baseDir}/fonts/GillSans-Light',
    @font-weight: 300,
    @font-style: normal,
    @font-display: swap
);

.lib-font-face(
    @family-name: @font-family-gill-sans,
    @font-path: '@{baseDir}/fonts/GillSans',
    @font-weight: normal,
    @font-style: normal,
    @font-display: swap
);

.lib-font-face(
    @family-name: @font-family-gill-sans-lightitalic,
    @font-path: '@{baseDir}/fonts/GillSans-LightItalic',
    @font-weight: 300,
    @font-style: italic,
    @font-display: swap
);


.lib-font-face(
    @family-name: @font-family-gill-sans-heavy,
    @font-path: '@{baseDir}/fonts/GillSans-Heavy',
    @font-weight: 900,
    @font-style: normal,
    @font-display: swap
);

.lib-font-face(
    @family-name: @font-family-gill-sans-bolditalic,
    @font-path: '@{baseDir}/fonts/GillSans-BoldItalic',
    @font-weight: bold,
    @font-style: italic,
    @font-display: swap
);


.lib-font-face(
    @family-name: @font-family-gill-sans-heavyitalic,
    @font-path: '@{baseDir}/fonts/GillSans-HeavyItalic',
    @font-weight: 900,
    @font-style: italic,
    @font-display: swap
);

.lib-font-face(
    @family-name: @font-family-gill-sans-medium,
    @font-path: '@{baseDir}/fonts/GillSans-Medium',
    @font-weight: 500,
    @font-style: normal,
    @font-display: swap
);


.lib-font-face(
    @family-name: @font-family-gill-sans-mediumitalic,
    @font-path: '@{baseDir}/fonts/GillSans-MediumItalic',
    @font-weight: 500,
    @font-style: italic,
    @font-display: swap
);

.lib-font-face(
    @family-name: @font-family-gill-sans-ultrabold,
    @font-path: '@{baseDir}/fonts/GillSans-UltraBold',
    @font-weight: bold,
    @font-style: normal,
    @font-display: swap
);


.lib-font-face(
    @family-name: @font-family-gill-sans-ultraboldcondensed,
    @font-path: '@{baseDir}/fonts/GillSans-UltraBoldCondensed',
    @font-weight: bold,
    @font-style: normal,
    @font-display: swap
);


.lib-font-face(
    @family-name: @font-family-Darsymbolsnew,
    @font-path: '@{baseDir}/fonts/DarsymbolsnewRegular',
    @font-weight: normal,
    @font-style: normal,
    @font-display: swap
);

