<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ebizmarts\MailChimp\Model\Api\Subscriber" type="Fyb\Newsletter\Model\Api\Subscriber"/>

    <type name="Magento\Contact\Controller\Index\Post">
        <plugin name="Fyb_Newsletter::SubscribeContactAfterForm" type="Fyb\Newsletter\Plugin\SubscribeContact"/>
    </type>
</config>
