.lib-font-face(
    @family-name: @font-family-gfs-didot,
    @font-path: '@{baseDir}/fonts/BodoniModa-Regular',
    @font-weight: normal,
    @font-style: normal,
    @font-display: swap
);
.lib-font-face(
    @family-name: @font-family-gfs-didot_italic,
    @font-path: '@{baseDir}/fonts/BodoniModa-Italic',
    @font-weight: normal,
    @font-style: italic,
    @font-display: swap
);
.lib-font-face(
    @family-name: @font-family-gill-sans-light,
    @font-path: '@{baseDir}/fonts/BrandonGrotesque-Light',
    @font-weight: 300,
    @font-style: normal,
    @font-display: swap
);

.lib-font-face(
    @family-name: @font-family-gill-sans,
    @font-path: '@{baseDir}/fonts/BrandonGrotesque-Regular',
    @font-weight: normal,
    @font-style: normal,
    @font-display: swap
);


.lib-font-face(
    @family-name: @font-family-Darsymbolsnew,
    @font-path: '@{baseDir}/fonts/DarsymbolsnewRegular',
    @font-weight: normal,
    @font-style: normal,
    @font-display: swap
);
